.EventContent {
  padding: 0 7%;
}

.Event_topic {
  font-size: 48px;
  font-weight: 500;
  font-family: "Frank Ruhl Libre", serif;
  margin-top: 5%;
  margin-left: 1%;
  line-height: 7vh;
}

.E_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Event_card {
  display: flex;
  flex-direction: column;
  margin: 5% 1% 3% 1%;
  justify-content: space-between;
  height: 52vh;
  width: 42vh;
  border-radius: 10px;
}

.card_photo {
  width: 100%;
  height: 70%;
}

.card_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card_title {
  font-size: 18px;
  font-weight: 600;
}

.card_descripiton {
  font-size: 14px;
}

@media (max-width: 768px) {
  .Event_topic {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .EventContent {
    padding: 6% 7%;
  }

  .Event_topic {
    font-size: 26px;
    line-height: 5vh;
  }

  .E_cards {
    margin-top: 3%;
    gap: 10px;
  }

  .Event_card {
    width: auto;
    height: 50vh;
  }
}
